PORT=3306
USERNAME=your_db_user
PASSWORD=your_secure_password
HOSTNAME=your_db_host
DATABASE=your_database_name
UBUNTU_IP=your_server_ip
SSH_KEY=~/.ssh/your_ssh_key
PATH_OF_ZIP=~/your_project_path/webapp.zip
PATH_OF_UBUNTU_ENV=~/your_project_path/webapp/ubuntu.env
PATH_OF_UBUNTU_SH=~/your_project_path/webapp/ubuntu.sh
KEY=~/your_private_key